@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


body {
    background-color: #FFFF;
    background-size: cover;
}

.pic-div {
    display: flex;
    justify-content: center;
}

.master-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 100%;

}

.MiddleRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.help{
    display: flex;
    justify-content: center;
    align-items: center;
}


.book {
    scale: 40%;
    position: absolute;
    left: 1100;
    top: -25;
}

.paint {
    scale: 10%;
    position: absolute;
    left: -500;
    top: -25;
}

.envelope {
    scale: 40%;
    position: absolute;
    left: 800;
    top: 200;
}

.Twofaces{
    display: flex;
    flex-direction: row;
    max-height: 80px;
}

.faces{
    scale: 25%;
    max-height: 100px;
}

.logo-div{
    position: absolute;
    left: 0px;
    top: 0px;
}

.yBlob{
    position: absolute;
    left: 900px;
    top: -150px;
}


.header {
    transform: rotate(30.293deg) scale(50%);
    position: absolute;
    left: -130;
    top: -160;
    
}

.footer {
    background-color: aliceblue;
    padding: 12px 12px;
    display: flex;
    justify-content: left;

}

.hello {
    color: var(--Secondary-500, #1A202C);
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 166.4px */
    letter-spacing: -3.84px;
    margin-left: 40px;
    position: absolute;
    top: 140;
}

#homeButton {
    background-color: lightblue;
    color: aliceblue;
    padding: 12px 80px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
}

.MoodChecklist {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    padding: 20px 10px;
    font-family: 'Raleway', sans-serif;
}

.MoodChecklistSub {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content:space-evenly;

}

.text-div {
    position: absolute;
    top: 300;
    width: 100%;
    margin-left: 40px;
    font-family: 'Raleway', sans-serif;
}

.sending {
    display: flex;
    justify-content: center;
    width: 100%;
}

.image {
    display: flex;
    justify-content: center;
}


#startButton {
    background-color: lightblue;
    color: aliceblue;
    padding: 12px 80px;
    border: none;
    font-size: 16px;
    max-width: fit-content;
    border-radius: 8px;

}

.final-butt{
    display: flex;
    justify-content: center;
}

#startButton:hover {
    filter: drop-shadow(10px 10px 4px rgb(0,0,0,0.5));
}

#homeButton:hover {
    filter: drop-shadow(10px 10px 4px rgb(0,0,0,0.5));
}

.radioLabel {
    font-size: 25px;
}

.radioButton {
    margin-right: 200px;
}

.text {
    color: var(--Secondary-500, #1A202C);
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    max-width: 60%;
    line-height: 150%; /* 60px */
    letter-spacing: -1.2px;
}

.frontGraphic{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.button{
    display: flex;
    background-color: lightblue;
    color: aliceblue;
    padding: 12px 80px;
    border: none;
    font-size: 16px;
    max-width: 100%;
    border-radius: 8px; 
    margin-bottom: 20px;
    margin-top: 15px;
    justify-content: center;
}

#big-butt {
    scale: 80%;
    font-size: larger;
}

.button:hover {
    filter: drop-shadow(10px 10px 4px rgb(0,0,0,0.5));
}

.emotionsTitle {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    
}

.promptTitle {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

.promptList {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
}

.writingArea{
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    flex-direction: column;
}